<!--Set Title in Navbar-->
<script>
  document.getElementById('pageTitle').innerHTML = "<%= @exercise.name %>"; 
</script>

<!--Header-->
<p class="text-right">
  <em><%= @exercise.set %></em>
</p>

<!--Description, Exceptions, Tips-->
<div>
  <h4><b>Description</b></h4>
  <%= @exercise.description %>
</div>
<div class="row">
  <div class="col-md-6">
    <h4><b>Exceptions</b></h4> 
    <ul class="list-unstyled">
      <% @exercise.exceptions.each do |exc| %>
        <li>* <%= exc %></li>
      <% end %>
    </ul>
  </div>
  <div class="col-md-6">
    <h4><b>Tips</b></h4> 
    <ul class="list-unstyled">
      <% @exercise.tips.each do |tip| %>
        <li>* <%= tip %></li>
      <% end %>
    </ul>
  </div>
</div>

<!--Scoring Tabs-->
<div>
  <ul class="nav nav-pills" role="tablist" id="scoreTabs">
    <li role="presentation" class="active">
      <a href="#dependentScore" aria-controls="dependentScore" role="tab" data-toggle="pill"><b>Dependent</b></a>
    </li>
    <li role="presentation">
      <a href="#substantialScore" aria-controls="substantialScore" role="tab" data-toggle="pill"><b>Substantial</b></a>
    </li>
    <li role="presentation">
      <a href="#partialScore" aria-controls="partialScore" role="tab" data-toggle="pill"><b>Partial</b></a>
    </li>
    <li role="presentation">
      <a href="#supervisionScore" aria-controls="supervisionScore" role="tab" data-toggle="pill"><b>Supervision</b></a>
    </li>
    <li role="presentation">
      <a href="#setupScore" aria-controls="setupScore" role="tab" data-toggle="pill"><b>Setup</b></a>
    </li>
    <li role="presentation">
      <a href="#independentScore" aria-controls="independentScore" role="tab" data-toggle="pill"><b>Independent</b></a>
    </li>
  </ul>
  <!-- Tab panes -->
  <div class="tab-content well" id="scoreExplainerWell">
    <div role="tabpanel" class="tab-pane active" id="dependentScore">
      <% @exercise.dependent.each do |dep| %>
        <p><%= dep %></p>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="substantialScore">
      <% @exercise.substantial.each do |sbs| %>
        <p><%= sbs %></p>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="partialScore">
      <% @exercise.partial.each do |ptl| %>
        <p><%= ptl %></p>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="supervisionScore">
      <% @exercise.supervision.each do |spv| %>
        <p><%= spv %></p>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="setupScore">
      <% @exercise.setup.each do |stp| %>
        <p><%= stp %></p>
      <% end %>
    </div>
    <div role="tabpanel" class="tab-pane" id="independentScore">
      <% @exercise.independent.each do |ind| %>
        <p><%= ind %></p>
      <% end %>
    </div>
  </div>
</div>

<!--Paginator-->
<div class="col-md-8 col-md-offset-2">
  <nav>
    <ul class="pager">
      <% if @exercise.id == 1 %>
        <li class="previous disabled">
      <% else %>
        <li class="previous">
      <% end %>
      <%= link_to exercise_path(@exercise.id - 1) do %>
        <span aria-hidden="true">&larr;</span> Previous
      <% end %>
      </li>
      <li>
        <%= link_to exercises_path do %>
          <span aria-hidden="true">Full List</span>
        <% end %>
      </li>
      <% if @exercise.id == 25 %>
        <li class="next disabled">
      <% else %>
        <li class="next">
      <% end %>
      <%= link_to exercise_path(@exercise.id + 1) do %>
        Next <span aria-hidden="true">&rarr;</span>
      <% end %>
      </li>
    </ul>
  </nav>
</div>